body {
    background-color: #3D8D7A;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    height: 120px;
    width: 100%;
    background-color: #B3D8A8;
    text-align: center;
    border: solid 4px rgb(0, 0, 0);
}
footer{
    margin: 5px;
    background-color: #A3D1C6;
    height: 100px;
    width: 100%;
    text-align: center;
    text-transform: uppercase   ;
    border: solid 4px rgb(0, 0, 0);
}
.menu {
    background-color: #183B4E;
    margin-top: 50px; 
    border-radius: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: solid 5px rgb(0, 0, 0);

}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    display: block;
    padding: 15px 60px;
    color: rgb(255, 254, 254);
    text-transform: uppercase;
    
}

.menu ul li a:hover {
    background-color: #0eb765;
  
    color: black;
    border: solid 2px black;
}

.item-r {
    float: right;
}

.menu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu li:hover > ul {
    display: block;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0;
}



.silueta {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.conteines {
    width: 100%;
    display: grid;
color: #e4d1d1;
    background-color: #2139c2;
    border: solid 5px #f0f0f0;
}

hr{
    background: #fffbfb;
    height: 6px;
    width: 100%;
  
}
.texto{
    text-align: center;
    font-size: 30px;
}
.imga{
    float: left;
    width: 320px;
    height: 250px;
    border: solid 5px #000000;
margin: 10px;

}
p{
    color: #e4d1d1;
    font-size: 40px;
    margin: 20px;
    padding: 10px;
}



